<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta name="description" content="" />
    <link rel="shortcut icon" href="/images/pot.ico.png" type="image/x-icon" />
    <title><%= title %></title>
    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.1/dist/css/bootstrap.min.css"
    />
    <script src="https://cdn.jsdelivr.net/npm/jquery@3.6.0/dist/jquery.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.1/dist/js/bootstrap.bundle.min.js"></script>
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css"
    />
    <link
      rel="stylesheet"
      type="text/css"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/css/all.min.css"
    />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Slabo+27px%26display=swap"
      rel="stylesheet"
    />
    <link
      href="https://fonts.googleapis.com/icon?family=Material+Icons"
      rel="stylesheet"
    />
    <link rel="stylesheet" type="text/css" href="/stylesheets/template.css" />
  </head>
  <body>
    <nav class="navbar navbar-expand-lg navbar-custom">
      <!-- Brand/logo -->
      <a class="navbar-brand" href="/">
        <img
          class="img-fluid"
          src="/images/logo.png"
          alt="B&S logo"
          style="width: 200px; margin-left: -20px"
        />
      </a>
      <button
        class="menu_button navbar-toggler ms-auto custom-toggler button1"
        type="button"
        data-toggle="collapse"
        data-target="#collapsibleNavbar"
      >
        <span class="navbar-toggler-icon"
          ><i class="material-icons">menu</i></span
        >
      </button>
      <div class="collapse navbar-collapse" id="collapsibleNavbar">
        <ul class="navbar-nav">
          <li class="nav-item">
            <a class="nav-link" href="/">About</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/recipes">Recipes</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/ethics">Ethics</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/suggest">Suggest</a>
          </li>
        </ul>
        <div class="dropdown">
          <button
            class="btn dropdown-toggle drop-down_list"
            type="button"
            id="dropdownMenuButton"
            data-toggle="dropdown"
            aria-haspopup="true"
            aria-expanded="false"
          >
            <a class="navbar-brand" href="/">
              <img src="/images/user_pic.png" alt="contact" style="width: 40px" />
            </a>
          </button>
          <div id="accountMenu" class="dropdown-menu" aria-labelledby="dropdownMenuButton">
            <!-- Buttons inserted from 'accountDropdown.js' -->

            <!--
            <a class="dropdown-item" href="/register">Register</a>
            <a class="dropdown-item" href="/login">Login</a>
            -->
          </div>
          <script src="/functions/accountDropdown.js"></script>
        </div>
      </div>
    </nav>

    <h2 class="textareas">About 'Bubble and Squeak'</h2>
    <div class="textareas">
      <p>
        Stuck with bits and bobs in the fridge and stumped with what to have for
        tea? Our website 'Bubble and Squeak' is here to solve all your
        food-related indecision.
      </p>
      <div class="section1">
        <h5>How To Use 'Bubble n Squeak</h5>
        <p>
          You can view recipes by clicking the recipe link then selecting
          filters to find the right recipe suited for you.
        </p>
        <p>
          To create recipes, you need to create an account. Just click on the
          avatar icon to register.
        </p>
        <p><i>Guide to our recipe list</i></p>
        <img src="/images/recipeList.jpeg" alt="screenshot of recipe list" style="width: 100%;" class="img-thumbnail">
        <p><strong>KEY</strong></p>
        <div class="info">
          <!--change radius of image to make it a circle-->
          <figure>
            <img id="easyimg" src="/images/icons/easy.png" alt="easy mode" />
            <figcaption>Easy Recipe</figcaption>
          </figure>

          <figure>
            <img id="easyimg" src="/images/icons/hard.png" alt="hard mode" />
            <figcaption>Hard Recipe</figcaption>
          </figure>

          <figure>
            <img id="easyimg" src="/images/icons/medium.png" alt="medium mode" />
            <figcaption>Medium Recipe</figcaption>
          </figure>

          <figure>
            <img id="easyimg" src="/images/icons/serving-dish.png" alt="serving size" />
            <figcaption>Serving size</figcaption>
          </figure>

          <figure>
            <img id="easyimg" src="/images/icons/clock.png" alt="clock" />
            <figcaption>Time taken to make</figcaption>
          </figure>

          <figure>
            <img id="easyimg" src="/images/icons/vegan.png" alt="vegan" />
            <figcaption>Vegan Meal</figcaption>
          </figure>

          <figure>
            <img id="easyimg" src="/images/icons/vegetarian.png" alt="vegetarian" />
            <figcaption>Vegetarian Meal</figcaption>
          </figure>

          <figure>
            <img id="easyimg" src="/images/icons/kosher.png" alt="kosher" />
            <figcaption>Kosher Meal</figcaption>
          </figure>

          <figure>
            <img id="easyimg" src="/images/pen.png" alt="pen" />
            <figcaption>Create Recipe*</figcaption>
          </figure>
        </div>
      </div>
      

      <p style="padding-top:1.5%;"><i>Guide to viewing a recipe</i></p>
       
      <figure>
        <img src="/images/recipeViewLuie.png" alt="screenshot of recipe view page" style="width: 100%;" class="img-thumbnail">
        <figcaption style="text-align: center;">
          <ul>
            <li>The recipe name and description appear at the top of the page</li>
            <li>The recipe author appears below the description</li>
            <li>The number of upvotes the recipe has received appears at the bottom of the page</li>
            <li>If included in the recipe, a link to the recipe inspiration appears below upvotes</li>
            <li>If the recipe is scrambled, a link to the original recipe is also included</li>
            <li>Press 'Report' to notify a moderator of an issue with the recipe. You may only report each recipe once</li>
            <li>Press 'Upvote' to like a recipe and save it to your account page. Press again to remove your upvote</li>
            <li>Press the notepad to scramble the recipe</li>
            <li>SCRAMBLING ALLOWS YOU TO CREATE YOUR OWN VERSION OF A PRE-EXISTING RECIPE!!!</li>
          </ul>
        </figcaption>
      </figure>
        
        <p style="padding-top:1.5%;"><i>Guide to creating a recipe</i></p>
       
        <figure>
          <img src="/images/recipeCreation.jpeg" alt="screenshot of recipe creation page" style="width: 100%;" class="img-thumbnail">
          <figcaption style="text-align: center;">
            <ul>
              <li>Fill the form and enter each ingredient you will need</li>
              <li>Press add when you want to add another ingredient</li>
              <li>Delete an ingredient by pressing the bin icon</li>

            </ul>
          </figcaption>
        </figure>

      
      <br>
      
      
        <p style="border-top: 5px dotted #ec8e22; padding-top: 1.5%;"><i>Your Account - needed to create recipes</i></p>
        <figure>
          <img src="/images/accountPage.png" alt="screenshot of recipe creation page" style="width: 100%;" class="img-thumbnail">
          <figcaption style="text-align: center;">
            <ul>
              <li>Your username and email are displayed at the top of the page</li>
              <li>Pressing 'Change Password' produces a drop down where you can enter your old password and new password</li>
              <li>Press confirm in the drop down to update your password</li>
              <li>Any recipes you have upvoted will appear in the 'Your Upvoted Recipes' section</li>
              <li>Any recipes you have created will appear in the 'Your Recipes' section</li>
              <li>Press the notebook to edit one of your created recipes</li>
              <li>Press the bin to delete one of your created recipes</li>
              <li>Press the pen to create a new recipe</li>
            </ul>
          </figcaption>
        </figure>
      
      



      
    </div>
    <footer class="footer">
      <div class="container-fluid">
        <div class="row" style="justify-content: space-around">
          <div class="footer-col">
            <h4>Get help</h4>
            <ul>
              <li>
                <a href="/">How your data is handled?</a>
              </li>
              <li>
                <a href="/">Wondering what's on our website?</a>
              </li>
              <li>
                <a href="/suggest">Any suggestions?</a>
              </li>
              <li>
                <a href="/references">References</a>
              </li>
            </ul>
          </div>
          <div class="footer-col">
            <h4>Contact us</h4>
            <ul>
              <li>
                <a href="mailto:ug-compsci@manchester.ac.uk"
                  >bubble_and_squeak@hotmail.com</a
                >
              </li>
            </ul>
          </div>
          <div class="footer-col">
            <h4>Connect with us</h4>
            <div class="social-links">
              <a href="https://www.facebook.com/computersciencemcr/"
                ><i class="fab fa-facebook-f"></i
              ></a>
              <a href="https://twitter.com/csmcr/"
                ><i class="fab fa-twitter"></i
              ></a>
              <a href="https://www.instagram.com/uomcompsci/"
                ><i class="fab fa-instagram"></i
              ></a>
            </div>
          </div>
        </div>
      </div>
    </footer>
  </body>
</html>
