<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta name="description" content="" />
    <link rel="shortcut icon" href="/images/pot.ico.png" type="image/x-icon" />
    <title><%= title %></title>
    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.1/dist/css/bootstrap.min.css"
    />
    <script src="https://cdn.jsdelivr.net/npm/jquery@3.6.0/dist/jquery.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.1/dist/js/bootstrap.bundle.min.js"></script>
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css"
    />
    <link
      rel="stylesheet"
      type="text/css"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/css/all.min.css"
    />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Slabo+27px%26display=swap"
      rel="stylesheet"
    />
    <link
      href="https://fonts.googleapis.com/icon?family=Material+Icons"
      rel="stylesheet"
    />
    <link rel="stylesheet" type="text/css" href="/stylesheets/recipeList.css" />
  </head>
  <body>
    <nav class="navbar navbar-expand-lg navbar-custom">
      <!-- Brand/logo -->
      <a class="navbar-brand" href="/">
        <img
          class="img-fluid"
          src="/images/logo.png"
          alt="B&S logo"
          style="width: 200px; margin-left: -20px"
        />
      </a>
      <button
        class="menu_button navbar-toggler ms-auto custom-toggler button1"
        type="button"
        data-toggle="collapse"
        data-target="#collapsibleNavbar"
      >
        <span class="navbar-toggler-icon"
          ><i class="material-icons">menu</i></span
        >
      </button>
      <div class="collapse navbar-collapse" id="collapsibleNavbar">
         <ul class="navbar-nav">
          <li class="nav-item">
            <a class="nav-link" href="/">About</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/recipes">Recipes</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/ethics">Ethics</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/suggest">Suggest</a>
          </li>
        </ul>
        <div class="dropdown">
          <button
            class="btn dropdown-toggle drop-down_list"
            type="button"
            id="dropdownMenuButton"
            data-toggle="dropdown"
            aria-haspopup="true"
            aria-expanded="false"
          >
            <a class="navbar-brand" href="/">
              <img src="/images/user_pic.png" alt="contact" style="width: 40px" />
            </a>
          </button>
          <div id="accountMenu" class="dropdown-menu" aria-labelledby="dropdownMenuButton">
            <!-- Buttons inserted from 'accountDropdown.js' -->

            <!--
            <a class="dropdown-item" href="/register">Register</a>
            <a class="dropdown-item" href="/login">Login</a>
            -->
          </div>
          <script src="/functions/accountDropdown.js"></script>
        </div>
      </div>
    </nav>

    <div class="content" style="margin: 0; padding: 0">
      <!-- Filter sidebar -->
      <div id="mySidebar" class="sidenav" style="margin-bottom: 0px; height: fit-content">
        <a href="javascript:void(0)" class="closebtn" onclick="closeNav()" style="margin-left: 200px">×</a>
        <div class="sidenav" style="position: relative; margin-top: 157px; margin: 0px">

          <!-- Start of form -->
          <form onsubmit="return false;" method="post" name="filters">
            <!-- Search box -->
            <div class="search-container">
              <input type="text" id="search" placeholder="Search.." name="search">
            </div>
            <!-- Ingredients box -->
            <div class="search-container">
              <input type="text" id="ingredients" placeholder="Add ingredient.." name="ingredient">
            </div>
            <!-- Allergies box -->
            <div class="search-container">
              <input type="text" id="allergies" placeholder="Add allergy.." name="allergies">
            </div>

            <!-- Dietary requirements dropdown -->
            <button class="dropdown-btn">Dietary requirements 
              <i class="fa fa-caret-down"></i>
            </button>
            <div class="dropdown-container">
              <ul class="drop-down_container_list">
                <li>
                  <label data-value="vegetarian" tabindex="-1"
                    ><input type="checkbox" id="vegetarian" />&nbspVegetarian</label
                  >
                </li>
                <li>
                  <label data-value="vegan" tabindex="-1"
                    ><input type="checkbox" id="vegan" />&nbspVegan</label
                  >
                </li>
                <li>
                  <label data-value="kosher" tabindex="-1"
                    ><input type="checkbox" id="kosher" />&nbspKosher</label
                  >
                </li>
              </ul>
            </div>

            <!-- Difficulty dropdown -->
            <button class="dropdown-btn">Difficulty 
              <i class="fa fa-caret-down"></i>
            </button>
            <div class="dropdown-container" id="difficulty">
              <input type="radio" id="difficulty-1" name="Difficulty" value="-1">
              <label for="difficulty">None</label><br>
              <input type="radio" id="difficulty0" name="Difficulty" value="0">
              <label for="difficulty">Easy</label><br>
              <input type="radio" id="difficulty1" name="Difficulty" value="1">
              <label for="difficulty">Medium</label><br>
              <input type="radio" id="difficulty2" name="Difficulty" value="2">
              <label for="difficulty">Hard</label>
            </div>

            <!-- Time dropdown -->
            <button class="dropdown-btn">Time 
              <i class="fa fa-caret-down"></i>
            </button>
            <div class="dropdown-container" id="time">
              <input type="radio" id="time-1" name="time" value="-1">
              <label for="time">None</label><br>
              <input type="radio" id="time0" name="time" value="0">
              <label for="time">Less than 5 minutes</label><br>
              <input type="radio" id="time1" name="time" value="1">
              <label for="time">5-10 minutes</label><br>
              <input type="radio" id="time2" name="time" value="2">
              <label for="time">10-20 minutes</label><br>
              <input type="radio" id="time3" name="time" value="3">
              <label for="time">20-30 minutes</label><br>
              <input type="radio" id="time4" name="time" value="4">
              <label for="time">30-40 minutes</label><br>
              <input type="radio" id="time5" name="time" value="5">
              <label for="time">40-50 minutes</label><br>
              <input type="radio" id="time6" name="time" value="6">
              <label for="time">50-60 minutes</label><br>
              <input type="radio" id="time7" name="time" value="7">
              <label for="time">60-90 minutes</label><br>
              <input type="radio" id="time8" name="time" value="8">
              <label for="time">90-120 minutes</label><br>
              <input type="radio" id="time9" name="time" value="9">
              <label for="time">120-180 minutes</label><br>
              <input type="radio" id="time10" name="time" value="10">
              <label for="time">More than 180 minutes</label>
            </div>
            <!-- Serving size dropdown -->
            <button class="dropdown-btn">Serving Size 
              <i class="fa fa-caret-down"></i>
            </button>
            <div class="dropdown-container" id="serving">
              <input type="radio" id="serving-1" name="Serving size" value="-1">
              <label for="serving">None</label><br>
              <input type="radio" id="serving0" name="Serving size" value="0">
              <label for="serving">serves 1</label><br>
              <input type="radio" id="serving1" name="Serving size" value="1">
              <label for="serving">serves 2</label><br>
              <input type="radio" id="serving2" name="Serving size" value="2">
              <label for="serving">serves 3</label><br>
              <input type="radio" id="serving3" name="Serving size" value="3">
              <label for="serving">serves 4</label><br>
              <input type="radio" id="serving4" name="Serving size" value="4">
              <label for="serving">serves 5</label><br>
              <input type="radio" id="serving5" name="Serving size" value="5">
              <label for="serving">serves 6</label><br>
              <input type="radio" id="serving6" name="Serving size" value="6">
              <label for="serving">serves 7</label><br>
              <input type="radio" id="serving7" name="Serving size" value="7">
              <label for="serving">serves 8</label><br>
              <input type="radio" id="serving8" name="Serving size" value="8">
              <label for="serving">serves 9</label><br>
              <input type="radio" id="serving9" name="Serving size" value="9">
              <label for="serving">serves 10</label><br>
              <input type="radio" id="serving10" name="Serving size" value="10">
              <label for="serving">serves more than 10</label>
            </div>

            <!-- Sort By dropdown -->
            <button class="dropdown-btn">Sort By 
              <i class="fa fa-caret-down"></i>
            </button>
            <div class="dropdown-container" id="sortBy">
              <input type="radio" id="sortBy-1" name="sortBy" value="-1">
              <label for="sortBy">None</label><br>
              <input type="radio" id="sortBy0" name="sortBy" value="0">
              <label for="sortBy">Upvotes</label><br>
              <input type="radio" id="sortBy1" name="sortBy" value="1">
              <label for="sortBy">Serving Size</label><br>
              <input type="radio" id="sortBy2" name="sortBy" value="2">
              <label for="sortBy">Time</label><br>
              <input type="radio" id="sortBy3" name="sortBy" value="3">
              <label for="sortBy">Difficulty</label><br>
            </div>

            <!-- Filter submit button -->
            <input class="btn" type="submit" name="filter" value="Filter" onclick="filterRecipes()">
          </form>
        </div>
      </div>
    </div>
  
    <div id="main" class="main_content">
      <button class="openbtn1" style="margin-top: 5px" onclick="openNav()">
        ☰ Search
      </button>

      <div id="icons">
        <!-- Recipe Icons inserted here -->

        <!--
        <div class="flex-container">
          <img class="recipe_picture" src="/images/random_food.png" alt="plate">
          <p id="rcorners1">
            <a style="color: black;" href="http://localhost:3000/recipes/view/' + article.recID + '" target="_blank"><b>article.name</b></a> - Creamy and nutritious, vegan mushroom stroganoff made with blended cashews.
            <br>

            <span id="rcorners2">
              <b>4</b>
              <img class="detail_icon_square"src="/images/icons/serving-dish.png" alt="serving dish">
            </span>
            
            <span id="rcorners2">
              <b>4</b>
              <img class="detail_icon"src="/images/icons/clock.png" alt="clock">
            </span>
          </p>

          <img class="recipe_icon"src="/images/icons/easy.png" alt="easy">
          <img class="recipe_icon"src="/images/icons/vegetarian.png" alt="vegetarian">
          <img class="recipe_icon"src="/images/icons/vegan.png" alt="vegan">
          <img class="recipe_icon"src="/images/icons/kosher.png" alt="kosher">
        </div>
        -->
      </div>

      <button class="create-btn" onclick="create()"
          style="
            display: flex;
            margin-right: 20px;
            position: fixed;
            bottom: 0px;
            right: 0px;
          ">
        <span style="position: relative; bottom: 5px">
            <img src="/images/pen.png" style="width: 25px"/>
        </span>
      </button>
    </div>

  </body>
  <script src="functions/recipeIcons.js"></script>

  <script>
    /* Loop through all dropdown buttons to toggle between hiding and showing its dropdown content - This allows the user to have multiple dropdowns without any conflict */
    var dropdown = document.getElementsByClassName("dropdown-btn");
    var i;
    
    for (i = 0; i < dropdown.length; i++) {
      dropdown[i].addEventListener("click", function() {
        this.classList.toggle("active");
        var dropdownContent = this.nextElementSibling;
        if (dropdownContent.style.display === "block") {
          dropdownContent.style.display = "none";
        } else {
          dropdownContent.style.display = "block";
        }
      });
    }
    var options = [];
    
    $( '.dropdown-menu a' ).on( 'click', function( event ) {
    
        var $target = $( event.currentTarget ),
            val = $target.attr( 'data-value' ),
            $inp = $target.find( 'input' ),
            idx;
    
        if ( ( idx = options.indexOf( val ) ) > -1 ) {
          options.splice( idx, 1 );
          setTimeout( function() { $inp.prop( 'checked', false ) }, 0);
        } else {
          options.push( val );
          setTimeout( function() { $inp.prop( 'checked', true ) }, 0);
        }
    
        $( event.target ).blur();
    
        console.log( options );
        //return false;
    });

    $('input[type="submit"]').click(function(){
      $('input[type="checkbox"]').each(function(){
        $(this).prop('checked', false);
      });
    });

    function openNav() {
      document.getElementById("mySidebar").style.width = "250px";
      document.getElementById("main").style.marginLeft = "250px";
    }

    function closeNav() {
      document.getElementById("mySidebar").style.width = "0";
      document.getElementById("main").style.marginLeft = "0";
    }
  </script>
  </body>
</html>
