<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta name="description" content="" />
    <link rel="shortcut icon" href="/images/pot.ico.png" type="image/x-icon" />
    <title><%= title %></title>
    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.1/dist/css/bootstrap.min.css"
    />
    <script src="https://cdn.jsdelivr.net/npm/jquery@3.6.0/dist/jquery.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.1/dist/js/bootstrap.bundle.min.js"></script>
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css"
    />
    <link
      rel="stylesheet"
      type="text/css"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/css/all.min.css"
    />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Slabo+27px%26display=swap"
      rel="stylesheet"
    />
    <link
      href="https://fonts.googleapis.com/icon?family=Material+Icons"
      rel="stylesheet"
    />
    <link rel="stylesheet" type="text/css" href="/stylesheets/template.css" />
  </head>
  <body>
    <nav class="navbar navbar-expand-lg navbar-custom">
      <!-- Brand/logo -->
      <a class="navbar-brand" href="/">
        <img
          class="img-fluid"
          src="/images/logo.png"
          alt="B&S logo"
          style="width: 200px; margin-left: -20px"
        />
      </a>
      <button
        class="menu_button navbar-toggler ms-auto custom-toggler button1"
        type="button"
        data-toggle="collapse"
        data-target="#collapsibleNavbar"
      >
        <span class="navbar-toggler-icon"
          ><i class="material-icons">menu</i></span>
      </button>
      <div class="collapse navbar-collapse" id="collapsibleNavbar">
        <ul class="navbar-nav">
          <li class="nav-item">
            <a class="nav-link" href="/">About</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/recipes">Recipes</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="ETHICS">Ethics</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/suggest">Suggest</a>
          </li>
        </ul>
        <div class="dropdown">
          <button
            class="btn dropdown-toggle drop-down_list"
            type="button"
            id="dropdownMenuButton"
            data-toggle="dropdown"
            aria-haspopup="true"
            aria-expanded="false"
          >
            <a class="navbar-brand" href="index.html">
              <img src="/images/user_pic.png" alt="contact" style="width: 40px" />
            </a>
          </button>
          <div id="accountMenu" class="dropdown-menu" aria-labelledby="dropdownMenuButton">
            <!-- Buttons inserted from 'accountDropdown.js' -->

            <!--
            <a class="dropdown-item" href="/register">Register</a>
            <a class="dropdown-item" href="/login">Login</a>
            -->
          </div>
          <script src="/functions/accountDropdown.js"></script>
        </div>
      </div>
    </nav>
    <div class="textareas">
      <form>
        <!--username max 20 characters-->
        <!--The class form group splits the different sections up-->
        <div class="form-group">
          <label for="userName">Username:</label>
          <br>
          <input type="text" class="form-control" id="userName" placeholder="Enter your name">
          <label for="userName" id="nameResult"><small>Between 6 to 20 characters</small></label>
        </div>

        <div class="form-group">
          <label for="userEmail">Email:</label>
          <br>
          <input type="text" class="form-control" id="userEmail" placeholder="Enter your email">
          <label id="emailResult"></label>
        </div>

        <!-- password should be at least 8 characters, include capital, symbol and number -->
        <div class="form-group">
          <label for="userPassword">Password:</label>
          <br>
          <input type="password" class="form-control" id="userPassword" placeholder="Enter your password"></textarea>
          <label for="userEmail" id="passwordResult"><small>Make sure you include at least 8 characters, including a capital, a symbol and a number</small></label>
        </div>
        <!-- passwords must match -->
        <div class="form-group">
          <label for="userRepeatPassword">Repeat Password:</label>
          <br>
          <input type="password" class="form-control" id="userRepeatPassword" placeholder="Enter your password again"></textarea>
          <label id="passwordRepeatResult"></label>
        </div>

        <button type="submit" class="btn btn-primary" id="registerButton" onclick="registerCheck();return false">Sign Up</button>
      </form>
    </div>

    <script src="functions/register.js"></script>

    <footer class="footer">
      <div class="container-fluid">
        <div class="row">
          <div class="footer-col">
            <h4>Get help</h4>
            <ul>
              <li>
                <a href="https://www.manchester.ac.uk/connect/contact-us/faq/"
                  >FAQ</a
                >
              </li>
              <li>
                <a href="https://www.studentsupport.manchester.ac.uk/"
                  >Student support</a
                >
              </li>
              <li>
                <a
                  href="https://www.manchester.ac.uk/connect/contact-us/support-services/"
                  >Support services</a
                >
              </li>
              <li>
                <a
                  href="https://www.manchester.ac.uk/study/chat-with-our-students/?popcardRedirectData=P2RlZ3JlZT02MGVkNjFjZjRmZTQ0NDJmYjhkY2U5NTEmbGFiZWw9Q29tcHV0ZXIlMjBTY2llbmNlJTIwTUVuZw%3D%3D%26ub_medium=product%26ub_source=University%26Popcard%26ub_campaign=%26ub_content="
                  >Chat with other students</a
                >
              </li>
            </ul>
          </div>
          <div class="footer-col">
            <h4>Find us</h4>
            <ul>
              <li>
                <a
                  href="https://www.cs.manchester.ac.uk/study/careers-and-employability/"
                  >The University of Manchester<br />
                  Kilburn Building<br />
                  Oxford Rd<br />
                  Manchester<br />
                  M13 9PL<br />
                  UK</a
                >
              </li>
            </ul>
          </div>
          <div class="footer-col">
            <h4>Contact us</h4>
            <ul>
              <li><a href="tel:+441613069280">+44 (0) 161 306 9280</a></li>
              <li>
                <a href="mailto:ug-compsci@manchester.ac.uk"
                  >ug-compsci@manchester.ac.uk</a
                >
              </li>
              <li>
                <a href="https://www.cs.manchester.ac.uk/connect/contact/"
                  >Contact details</a
                >
              </li>
            </ul>
          </div>
          <div class="footer-col">
            <h4>Connect with us</h4>
            <div class="social-links">
              <a href="https://www.facebook.com/computersciencemcr/"
                ><i class="fab fa-facebook-f"></i
              ></a>
              <a href="https://twitter.com/csmcr/"
                ><i class="fab fa-twitter"></i
              ></a>
              <a href="https://www.instagram.com/uomcompsci/"
                ><i class="fab fa-instagram"></i
              ></a>
            </div>
          </div>
        </div>
      </div>
    </footer>
  </body>
</html>
