html,
body {
  max-width: 100%;
  overflow-x: hidden;
  background-color: #f2b883;
  
}
.navbar-custom {
  background-color: #ec8e22;
}
/* Modify brand and text color */

.navbar-custom .navbar-brand,
.navbar-custom .navbar-text {
  color: black;
}
.nav-item .nav-link {
  font-size: 20px;
  color: #ffffff;
  transition: all 0.2s ease;
  font-weight: 500;
  margin-right: 20px;
  justify-content: left;
  border: 20px;
}
.nav-link:hover {
  font-weight: 900;
  color: black;
}
.dropdown-toggle::after {
  margin-bottom: 30px;
  background-color: #ec8e22;
}
.drop-down_list {
  background-color: #ec8e22;
  border: none;
}
.btn:focus {
  box-shadow: 0 0 0 5px rgba(245, 245, 245, 0.25);
}
.drop-down_list:hover {
  background-color: #ec8e22;
}
.dropdown-menu {
  left: 15%;
  right: auto;
  transform: translateX(-50%);
}
.navbar-nav {
  margin-left: auto;
  border: 20px;
}
.navbar-nav > li {
  padding-left: 5px;
  padding-right: 5px;
}
.container {
  position: relative;
  width: 50%;
}
.custom-toggler {
  border-color: black;
  background-color: black;
  padding-bottom: 12px;
  padding-left: 5px;
  border-radius: 12px;
}

img {
  opacity: 1;
  display: block;
  width: 100%;
  height: auto;
  transition: 0.5s ease;
  backface-visibility: hidden;
  margin-top: 20px;
  margin-bottom: 10px;
}

.middle {
  transition: 0.5s ease;
  opacity: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
}

.container:hover .image {
  opacity: 0.3;
}

.container:hover .middle {
  opacity: 1;
}

.text {
  background-color: #4caf50;
  color: #ffffff;
  font-size: 16px;
  padding: 16px 32px;
}
h1 {
  color: #af0caf;
  font-family: "freight-text-pro", "FreightText Pro", "Garamond", serif;
  font-weight: 600;
  line-height: 1;
  letter-spacing: 0;
}
.column {
  float: left;
  width: 33.33%;
  padding: 15px;
}
.row:after {
  content: "";
  display: table;
  clear: both;
}
h2 {
  font-family: "freight-text-pro", "FreightText Pro", "Garamond", serif;
  font-weight: 600;
  line-height: 1;
  letter-spacing: 0;
}
h3 {
  font-size: 25px;
  font-family: "freight-text-pro", "FreightText Pro", "Garamond", serif;
  font-weight: 600;
  line-height: 1;
  letter-spacing: 0;
}
p {
  font-family: "freight-text-pro", "FreightText Pro", "Garamond", serif;
  line-height: 1.6;
  color: #373737;
  font-size: 20px;
  text-align: left;
}
img {
  opacity: 1;
  display: block;
  width: 100%;
  height: auto;
}
button:not(.menu_button, .drop-down_list) {
  display: inline;
  color: #ffffff;
  background: #ec8e22;
  border: 1px solid #ec8e22;
  margin: 20px auto;
  padding: 18px 25px;
  transition: all 200ms ease-in-out;
  border-radius: 50px;
  box-shadow: 0px 3px 3px #c6c3cd;
  font-size: 16px;
}
button:not(.menu_button, .drop-down_list):hover {
  color: #ec8e22;
  cursor: pointer;
  background: #ffffff;
}
.button1 {
  transition: all 200ms ease-in-out;
}

.material-icons {
  font-size: 36px;
  color: white;
  transition: all 200ms ease-in-out;
}
.material-icons:hover {
  color: #ec8e22;
}
.button1:hover {
  cursor: pointer;
  background: #ffffff;
}

.container1 {
  margin-left: 120px;
  margin-right: 120px;
  margin-bottom: 30px;
  margin-top: 10px;
  padding: 0;
}
.pagination {
  display: inline-block;
  display: flex;
  padding-left: 0px;
  list-style: none;
  justify-content: center;
}
.pagination a {
  color: black;
  float: left;
  padding: 8px 16px;
  margin-bottom: 20px;
  text-decoration: none;
}
.pagination a:hover {
  background-color: #ddd;
  border-radius: 5px;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.container-fluid {
  max-width: 1170px;
  margin: auto;
}
.row {
  display: flex;
  flex-wrap: wrap;
}
ul {
  list-style: none;
}
.footer {
  background-color: #ec8e22;
  padding: 70px 0;
  margin-top: 266.5px;
}
.footer-col {
  width: 25%;
  padding: 0 15px;
}
.footer-col h4 {
  font-size: 18px;
  color: #ffffff;
  text-transform: capitalize;
  margin-bottom: 35px;
  font-weight: 500;
  position: relative;
}
.footer-col h4::before {
  content: "";
  position: absolute;
  left: 0;
  bottom: -10px;
  background-color: black;
  height: 2px;
  box-sizing: border-box;
  width: 50px;
}
.footer-col ul li:not(:last-child) {
  margin-bottom: 10px;
}
.footer-col ul li a {
  font-size: 16px;
  text-transform: capitalize;
  color: #ffffff;
  text-decoration: none;
  font-weight: 400;
  display: block;
  transition: all 0.3s ease;
}
.footer-col ul li a:hover {
  color: black;
  padding-left: 8px;
  font-weight: 400;
}
.footer-col .social-links a {
  display: inline-block;
  height: 40px;
  width: 40px;
  background-color: black;
  margin: 0 10px 10px 0;
  text-align: center;
  line-height: 40px;
  border-radius: 50%;
  color: #ffffff;
  transition: all 0.5s ease;
}
.footer-col .social-links a:hover {
  color: #ec8e22;
  background-color: #ffffff;
}
/*responsive*/
@media (max-width: 767px) {
  .footer-col {
    width: 50%;
    margin-bottom: 30px;
  }
}
@media (max-width: 574px) {
  .footer-col {
    width: 100%;
  }
}
body {
  font-family: "Lato", sans-serif;
  background-color: navajowhite;
}

/* Fixed sidenav, full height */
.sidenav {
  height: 100%;
  width: 230px;
  position: absolute;
  top: 0;
  align-self: flex-start;
  z-index: 1;
  top: 0;
  left: 0;
  margin-top: 157.5px;
  background-color: #efab5d;
  overflow-x: hidden;
  padding-top: 20px;
  padding-bottom: 20px ;
  min-height: 750px;
  
  
}

/* Style the sidenav links and the dropdown button */
.sidenav a, .dropdown-btn {
  padding: 6px 8px 8px 16px;
  font-family: "freight-text-pro", "FreightText Pro", "Garamond", serif;
  font-weight: 600;
  line-height: 1;
  letter-spacing: 0;
  color: white;
  display: block;
  border: none;
  background: none;
  width: 100%;
  text-align: left;
  cursor: pointer;
  outline: none;
  border-bottom: 1px solid white;
  transition: all 0.2s ease-in-out
}

/* On mouse-over */
.sidenav a:hover, .dropdown-btn:hover {
  color: black;
  font-weight: bolder;
  transition: all 0.2s ease-in-out
}


/* Add an active class to the active dropdown button */
.active {
  background-color: darkgreen;
  color: white;
  transition: background-color .05s ease;
  transition: all 0.2s ease-in-out
}

/* Dropdown container (hidden by default). Optional: add a lighter background color and some left padding to change the design of the dropdown content */
.dropdown-container {
  display: none;
  background-color: #ec8e22;
  padding-left: 8px;
  transition: all 0.2s ease-in-out
  
}

/* Optional: Style the caret down icon */
.fa-caret-down {
  float: right;
  padding-right: 8px;
  transition: all 0.2s ease-in-out
}

/* Some media queries for responsiveness */
@media screen and (max-height: 450px) {
  .sidenav {padding-top: 15px;}
  .sidenav a {font-size: 18px;}
}

input[type=submit] {
	display: inline;
  color: #ffffff;
  background: #c46e0c;
  border: 1px solid #ec8e22;
  margin: 20px auto;
  padding: 18px 25px;
  transition: all 200ms ease-in-out;
  border-radius: 50px;
  box-shadow: 0px 3px 3px #c6c3cd;
  font-size: 16px;
  text-align: center;
  margin:0 auto;
  display:block;
}

input[type=text]{
  background-color: navajowhite;
  padding-left: 10px;
  width: 140px;
  height: 35px;
  
}
.main_content {
  overflow: hidden;
  margin-left: 250px;
  margin-top: 20px;
}
#rcorners1 {
  border-radius: 25px;
  background: orange;
  padding: 20px; 
  width:98%;
  height: 150px; 
  position: relative;
}