html,
body {
  max-width: 100%;
  overflow-x: hidden;
  background-color: #fde4cd;
}
.navbar-custom {
  background-color: #ec8e22;
}
/* Modify brand and text color */

.navbar-custom .navbar-brand,
.navbar-custom .navbar-text {
  color: black;
}
.nav-item .nav-link {
  font-size: 20px;
  color: #ffffff;
  transition: all 0.4s ease;
  font-weight: 500;
  margin-right: 20px;
  justify-content: left;
  border: 20px;
}
.nav-link:hover {
  font-weight: light;
  color: black;
}
.dropdown-toggle::after {
  margin-bottom: 30px;
  background-color: #ec8e22;
}
.drop-down_list {
  background-color: #ec8e22;
  border: none;
}
.btn:focus {
  box-shadow: 0 0 0 5px rgba(245, 245, 245, 0.25);
}
.drop-down_list:hover {
  background-color: #ec8e22;
}
.dropdown-menu {
  left: 15%;
  right: auto;
  transform: translateX(-50%);
}
.navbar-nav {
  margin-left: auto;
  border: 20px;
}
.navbar-nav > li {
  padding-left: 5px;
  padding-right: 5px;
}
.container {
  position: relative;
  width: 50%;
}
.custom-toggler {
  border-color: black;
  background-color: black;
  padding-bottom: 12px;
  padding-left: 5px;
  border-radius: 12px;
}

img:not(.recipe_image) {
  opacity: 1;
  display: block;
  width: 100%;
  height: auto;
  transition: 0.5s ease;
  backface-visibility: hidden;
  margin-top: 20px;
  margin-bottom: 10px;
}

.recipe_image {
  opacity: 1;
  display: block;
  transition: 0.5s ease;
  backface-visibility: hidden;
  margin-top: 20px;
  margin-bottom: 10px;
}

*/ .middle {
  transition: 0.5s ease;
  opacity: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
}

h2 {
  font-family: "freight-text-pro", "FreightText Pro", "Garamond", serif;
  font-weight: 600;
  line-height: 1;
  letter-spacing: 0;
}
h3 {
  font-size: 25px;
  font-family: "freight-text-pro", "FreightText Pro", "Garamond", serif;
  font-weight: 600;
  line-height: 1;
  letter-spacing: 0;
}
p {
  display: block;
  font-family: "freight-text-pro", "FreightText Pro", "Garamond", serif;
  line-height: 1.6;
  color: #373737;
  font-size: 20px;
  text-align: left;
}
button:not(.menu_button, .drop-down_list) {
  display: inline;
  color: #ffffff;
  background: #ec8e22;
  border: 1px solid #ec8e22;
  margin: 20px auto;
  padding: 0px 17px;
  transition: all 200ms ease-in-out;
  border-radius: 50px;
  box-shadow: 0px 3px 3px #c6c3cd;
  font-size: 16px;
  line-height: 20px;
}
button:not(.menu_button, .drop-down_list):hover {
  color: #ec8e22;
  cursor: pointer;
  background: #ffffff;
}
.material-icons {
  font-size: 36px;
  color: white;
  transition: all 200ms ease-in-out;
}
.material-icons:hover {
  color: #ec8e22;
}
.container {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  margin-right: 0;
}
.jumbotron {
  margin-bottom: 100px;
}

#back_button {
  border-radius: 50%;
  padding-top: 5px;
  position: relative;
  bottom: -3px;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
ul {
  list-style: none;
}

#ingredientName{
  margin-right: 10%;
}

#ingredientNameLabel{
  margin-left:1%;
}

#ingredientQuantity{
  margin-left: 12.5%;
  margin-right:10%;

}

#ingredientQuantityLabel{
  margin-left:47%;
  margin-right:10%;
}

.footer {
  background-color: #ec8e22;
  padding: 70px 0;
  margin: 0 auto;
}
.footer-col {
  width: 25%;
  padding: 0 15px;
}
.footer-col h4 {
  font-size: 18px;
  color: #ffffff;
  text-transform: capitalize;
  margin-bottom: 35px;
  font-weight: 500;
  position: relative;
}
.footer-col h4::before {
  content: "";
  position: absolute;
  left: 0;
  bottom: -10px;
  background-color: black;
  height: 2px;
  box-sizing: border-box;
  width: 50px;
}
.footer-col ul li:not(:last-child) {
  margin-bottom: 10px;
}
.footer-col ul li a {
  font-size: 16px;
  text-transform: capitalize;
  color: #ffffff;
  text-decoration: none;
  font-weight: 400;
  display: block;
  transition: all 0.3s ease;
}
.footer-col ul li a:hover {
  color: black;
  padding-left: 8px;
  font-weight: 400;
}
.footer-col .social-links a {
  display: inline-block;
  height: 40px;
  width: 40px;
  background-color: black;
  margin: 0 10px 10px 0;
  text-align: center;
  line-height: 40px;
  border-radius: 50%;
  color: #ffffff;
  transition: all 0.5s ease;
}
.footer-col .social-links a:hover {
  color: #ec8e22;
  background-color: #ffffff;
}
/*responsive screen view*/
@media (max-width: 767px) {
  .footer-col {
    width: 50%;
    margin-bottom: 30px;
  }
}

@media (max-width: 574px) {
  .footer-col {
    width: 100%;
  }
}

.textareas{
  padding-top: 2.5%;
  padding-bottom: 2.5%;
  padding-left: 5%;
  padding-right: 5%;
}

table {
  background-color: #ffd386;
  border: 1px solid #dddddd7f;
}

.recipeIngredient {
  margin-left: 2.5%;
  margin-right: 2.5%;
  width: 90%;
}

#ingredientName {
  margin-left: 10px;
  margin-right: 10px;
  padding-left: 10px;
  padding-right: 10px;
  vertical-align: middle;
}

.editRow {
  position: relative;
  top: -20px;
  left: 0px;
  border-radius: 50%;
  vertical-align: middle;
}

@media screen and (max-width: 574px) {
  .recipe_image {
    margin-right: 15px;
    margin-bottom: 45px;
  }
}

@media screen and (max-width: 400px) {
  .recipe_image {
    margin-right: -15px;
    margin-bottom: 35px;
  }

  .recipeViewPageButtons {
    display: flex;
    flex-direction: column;
  }
}
